/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: #616161;
}
/* ------------------------------------ */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* ------------------------------------ */

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}
/* PC */
@media (max-width: 1057px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
/* Tablet */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}
/* HEADER */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 114px;
}
.header__logo {
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
  gap: 40px;
}
.menu__item {
  /* margin-right: 40px; */
}
.menu__link {
  font: 700 10px/1.2 "Raleway", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
  .header__button {
    flex: 0 0 170px;
  }
  .menu__list {
    gap: 30px;
  }
}

.button {
  display: inline-block;
  font: 800 10px/1.2 "Raleway", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fcfdfe;
  background-color: #ec5863;
  border-radius: 5px;
  padding: 14px 30px;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #f37a82;
}
.button_blue {
  background-color: #4285f4;
}
.button_blue:hover {
  background-color: #70a3f7;
}
